.specials-container {
   padding-top: 30px;
   padding-bottom: 50px;
}
.all-specials-container,
.specials-header-container {
   display: flex;
   align-items: center;
}

.specials-header-container {
   justify-content: space-between;
}
.all-specials-container {
   flex-direction: row;
   flex: 1 1 400px;
   align-items: center;
   justify-content: left;
}

.all-specials-container > * {
}
