.footer-links-container {
   display: grid;
   padding-top: 30px;
}

.footer-links-container h3 {
   margin-bottom: 20px;
}
.footer-links-container ul li {
   margin-bottom: 5px;
}

a {
   text-decoration: none;
}

a:hover {
   color: #43566e;
}

ul {
   display: grid;
}

@media only screen and (min-width: 600px) {
   .footer-links-container {
      justify-content: center;
   }
}
